@import "tailwindcss";

*{
  font-family: 'poppins';
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.9);
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(to bottom, rgba(0, 62, 196), rgba(184, 0, 153)); /* Fixed gradient syntax */
}

/* Custom background gradient for the whole page */
.bg-custom-beige {
  background: linear-gradient(to bottom, #F5E1A4, #FFF5D0); /* Example beige gradient */
}
